files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDMzCCAhsCFGrhYMt0RwnnrWqb7AH9d6BrKJ8tMA0GCSqGSIb3DQEBCwUAMFYx
      CzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4xEDAOBgNVBAcMB01hZGlz
      b24xITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDAeFw0yMzA0MjIx
      OTU3MjJaFw0yNDA0MjExOTU3MjJaMFYxCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlX
      aXNjb25zaW4xEDAOBgNVBAcMB01hZGlzb24xITAfBgNVBAoMGEludGVybmV0IFdp
      ZGdpdHMgUHR5IEx0ZDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANV+
      2/RS48ksNWmOpagoJzhVmCT4o/+f4bk5T8OezhyjhFXMIbRxSH+bD8pasmS8FXPK
      SPrTeLkI4nCRrDt3BP22qjjx4UX/jrSfxmVZeyrev4NQyF6oBNEkF8vHqGxmfIhm
      hR9MN4W9En+hfJ4oupDpAk3DUx/MkdBPr1LDF6gofvz5m+69e9uIgu/fmxRI738y
      4Tx0bDwNv/3dANFPoloHD2AvNc76vM6Q/8leb+dQYRaYwVrSATXuRFLo0n31ZD5S
      jwRg6kBwbrpz194Y3RM+ISTJMZWa+vWewU4Hk6uApiIRQayYMfnHrXd2Y52H32Bv
      ewvJQbMuYdHTCaQxlSkCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAmYgYMdTNTVWF
      PBP3W3xWHG9Ni5ifZNacz1pf5IDkFVmNqq8m4XBlxmEU+xbilMEP4lOsTuCaJ6L1
      XCuZCVXA9JfgeXPNk6CLvQisUf8WjZK7qWWrdU1ifZoexCnzbT01qkoRi7Eet3Bw
      2KlAULJfpFB6XBjhw8Md5jYgKFINfgFLGHStehbgmpmlNB6GUuBq/IM6pVMNklRc
      yIcohOtYrEFw2SOp2uJ4MGu7ucSFa7dftIDxlxsBvHznZ/xek8L7SdGzq7TPmwLv
      WsNVFf848Sc0XqfBv70e5MIyKXTZOBtJeP3CMZmL93/jP63QZmMvXJx98s33+rZL
      WnNpgpaTWw==
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA1X7b9FLjySw1aY6lqCgnOFWYJPij/5/huTlPw57OHKOEVcwh
      tHFIf5sPylqyZLwVc8pI+tN4uQjicJGsO3cE/baqOPHhRf+OtJ/GZVl7Kt6/g1DI
      XqgE0SQXy8eobGZ8iGaFH0w3hb0Sf6F8nii6kOkCTcNTH8yR0E+vUsMXqCh+/Pmb
      7r1724iC79+bFEjvfzLhPHRsPA2//d0A0U+iWgcPYC81zvq8zpD/yV5v51BhFpjB
      WtIBNe5EUujSffVkPlKPBGDqQHBuunPX3hjdEz4hJMkxlZr69Z7BTgeTq4CmIhFB
      rJgx+cetd3ZjnYffYG97C8lBsy5h0dMJpDGVKQIDAQABAoIBAQCUWJu5f0cr5/4N
      JMNSvuPRrxgSyHocCxorO/mCsfwBxlUT0M2ytexsTnCAaNkASfiWBn8DWqHN4LCH
      C5GjmCXtrVlGTDv+CX89Xq/aiHye4zwroJw5uYHvWKb4P/l1qRjrJmFlx+3kjeYm
      rS0MMLzCKEYjho9hzyGan2PxnAH6IzSDPnQa7cqCYhKH9w/Z2PTwZQrx7OM8Apnh
      Ka2XIxcPDKX5+BJfXI3yLci+4W/gVgDh10cc1eFV12z6mfkwx8RUno7eaFj+n7Sz
      t3Ks2LW7J0OZCKy+HZjRlZBs5vsCDffyNcsIrxHXVtgF/YZrypcnqsKfZ9km9wST
      Syp0eKEBAoGBAOuKZ6PJy9i8j4Fqu/XqGk/M0EfwCocPP5RwEdpRmLCpHPvUb0Xb
      lcCWkhWZb5L60MtJXo2LjGKv0hi3WdXhZE2/cRpQ51UB1yKWrG2DH+Ett2y/O9YF
      nuHyHJXJhRKkcg0gObdX1Jo/PElUbTovdov1RIz3lj0iWc0hgOfg3cw5AoGBAOgK
      P7dxOCuAfonEUWU63NuSQ1LR1upgKnqNELKTRjSzYNhsw0ZQbZQ8bVpkZ5+mF9jb
      oRLgkeSpV6pjOVYGmPO03cVbAV9TwT+1NgC+rqDfAry3EKLoiRhsIxLY2XuuYAto
      SBoTIs9KgweZbk4FCazQJ/AIyN285GQ9R76TffBxAoGAREO+udeYft5XcRiwFRue
      OJaRnufRBUfEE49PfUi8yiaZQdtVzJdRlZmOCTiI/741mVVQVBGnxEpUx9kL7lL+
      sRHVA92Czj5UTbABlVO1f5uyV5AtFWBXpgB3jGn1aWvDqk42rA6GjZXaMR6I8Z4j
      63hQP9LZ9inogO0+4PVpEvECgYA/MxtroWDFKHhOmbP5uHCTNWE024aHy62GN4nG
      uaozjG/iQq1lJ17RMywtpI88woZYQGm8tIHIH/+Knv/s2FssdaS5rjHPfwZxja+p
      wEXb9yHNuKbFWESO7FUZOwrxTutF8B9DStb+UrMhjL6obWLXONLH4/yhuGMUkkRK
      Oe3hYQKBgQCNGSTo8jARmTCnvDu1yVY8sj3OpuHratDCgTqJH2Fi+nmgBI8tjYRo
      GfN26+fRj7bsNjLDrzkyaL9bTJhl5yZousYGDAEsMHkgnWBIK8n9ldM1BKcxjgdO
      hj6oBznQUEFFpXwbTQtZRMA1eu41JUUcZqQGYh8YXsy4o50kGxEY7g==
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart