files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: I
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFDkJAsHkQFE5iitbxdi5L45fcVCVMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjMwMzI1MTg0NTUwWhcNMjQwMzI0MTg0
      NTUwWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAxA+E9u00VlD5K1iYlbc7oL4m26vQk7wVPrAYNuHcDLaenUid
      p3iOT67/51UEI1dzYd7Zntsc5nukqSNFewRaLaDkRWeW6+gqcMjdAXAEAMK42+BE
      FoSwWUQRG/hJO/4GvJocIgb1glj3RlPDEjXFoam12IRpNGVFfZWt3kpy+ASHalfN
      2p9XLNjrjjH7KY23GdmtEqS+JPxv7uFEQOS8e4j5/cQDWCa39l8mFp4uGEjEgRSV
      GpzCSgWAXfp6DoJSw2ma9m1j6QCMciKbvd2dsEya9G081G9fmDAKqC//xSrI7sif
      OW6WRtMPWdzrP+pJGeyVJ9IhhuSjPkl3m2f8RwIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQA8oeTaGGUReW+blw8mNgRc5Lbai2+La+umLjBPOXR1QgfQ0Tsf0wDvX389
      0d57ZhLJFkOnEOdaTxI73v1T+AIiBl1c/iA0gXUXU9LQm9Q2LfWQfHsDN4zAXRmf
      YaKF3FHmzDPunQ+mKLmULekcdVDy0V+kWDEduEqpxa3xfrzJ//SdMfuxa64Egvtk
      yqjtZ1mojvTdK4qyb49ZIvZ3ZN/xYgVgnuWgFdDXx6wtbf5jMHhb5Lv5VLM+WvRZ
      K0f54JFUDimaUP2PEL4bNsmuc34oTyYbSwFtr4IFpsjb/d4zVWMsQlh5JWuT6tE7
      N4SuwiQ6bJzqu1F9hbKx9kLNvH5k
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: I
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAxA+E9u00VlD5K1iYlbc7oL4m26vQk7wVPrAYNuHcDLaenUid
      p3iOT67/51UEI1dzYd7Zntsc5nukqSNFewRaLaDkRWeW6+gqcMjdAXAEAMK42+BE
      FoSwWUQRG/hJO/4GvJocIgb1glj3RlPDEjXFoam12IRpNGVFfZWt3kpy+ASHalfN
      2p9XLNjrjjH7KY23GdmtEqS+JPxv7uFEQOS8e4j5/cQDWCa39l8mFp4uGEjEgRSV
      GpzCSgWAXfp6DoJSw2ma9m1j6QCMciKbvd2dsEya9G081G9fmDAKqC//xSrI7sif
      OW6WRtMPWdzrP+pJGeyVJ9IhhuSjPkl3m2f8RwIDAQABAoIBAQCT8loVsx1hXS0J
      Routvl0iiRrtfROhx7YIXf2HvJu+hDfg3CELdO9+tcGpoP/EY4NQAUgalaGTUw4I
      C/OsRrZ95AEdVnQOhF0ySoBrS0naARZZ5Tu7+ljQo4p9nrg0qxYOUASWsMWmnNfL
      m/2Byk3eFiCAyDpTLXBougA/09I50G4k6BtpM/Tqfv5Shj7Sz/wGjKFjqVetDfVf
      ynxpyXEQBeRkFymXZ6tpdzkCXuSil1QA53zAWaIDFeY6IETkeOwT/fsaBQ6rkQcT
      pWN4ZV/ql229onLrNr3797l8cU6KOW5qQhfeewvLWONoIKU1dLAvnn9iIQnRvmoR
      4PsKyK1hAoGBAPBIwW8vWS2tAy8jse+KY9kGlBNqlz+oc4U2l5tT+PH2dui7ZOkS
      YyH2zBFPdsi32gNYAr8upL7cOvDPpXYfclnT1vX4AsauWhHbiE4sTa10TqjwH+62
      IWEVP5cKoGUPNFjeBBKsz7Bzr2ghTNKEsqDq7DRlpOXCM97pe7PdZ2lfAoGBANDi
      TEApgxwkPezHEwKpLl3hiEt/7kscz/e5f/Cbzj00EDZKz8GAoqNmUKH+59VY/9Qt
      g4Y5itFePc3e8uJDCXfEMXcOq4DpB0QopqCxxChZG7Af3F8ELOEAaNGutjyij6jf
      04TVU1GrpjDj/7S7CrymZlRkyjo7Zb1CNElBpI4ZAoGBAKbECCSPuxgdZQFZh8xV
      wzjD/Q+Awhp3Yj3Jhu1SGYxtX1flf4LXtR/EdxtoiGuEVnZNphJkYAjrNqkdpJvX
      9Xhss1uhVuPn7DFKqU6AJyVEfLd5eOAnXgFQSwMcZ/fb1pv68t63O6oekFX4DqZp
      XMScZ3VyOkEQSQnkCGvsNTKHAoGBAK5JQ0n92RFwA+M+L1R3COL4PRqRwagWgEe4
      FVITDj/u4uAKB9Lym8Euq3SfFZzjx4GoACfMd1E+Ct9teMblHE87+fHW4a6LwK5U
      JMPLz1nDD+EilGMLPs714n+iARgSoz9KklgxDnYEfIQqmL6ZmdnSFWuxNTLlQHxr
      cuj0xnJxAoGATM1O5kgwP7Kq3gCUYv3Xyvr/aommsV2gEojqW9artiaht98hLUVV
      l05GdswbKSbcFTqFs7fv8DDycMt1wAifbfaWsazOrvZ04lOlR/bCqAjm5cZQ3biI
      R0nWyI55GazJg2RqUfdiq3F4IcBGPnO62yy/T+sRK1JODsN0qL1D9Tc=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: I
      #!/usr/bin/env bash
      sudo service httpd restart